<div class="px-4 py-6 w-full md:w-1/3">
  <div class="shadow p-4 bg-orange-100">
    <div class="flex justify-center mb-4">
      <%= avatar %>
    </div>
    <div class="text-center bold text-lg mb-4">
      <%= name %>
    </div>
    <div class="text-center mb-4">
      <span class="px-4 py-1 shadow text-white rounded-full <%= state_modifier_class %>">
        <%= state.humanize %>
      </span>
    </div>
    <div class="flex justify-between">
      <%= transit_predictions %>
    </div>
  </div>
</div>
