<!DOCTYPE html>
<html>
  <head>
    <title>ViewComponent101</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'stylesheets', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

  <body class="max-w-screen-sm max-w-screen-md max-w-screen-lg max-w-screen-xl mx-auto mt-16">
    <%= yield %>
  </body>
</html>
